@CHARSET "ISO-8859-1";

body{
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: Roboto;
	font-size: 16px;
	color: #555;
	height: 900px;
}
.popup-position{
	position: fixed; 
	top: 0; 
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	
}
#popup-wrapper{
	width: 500px;
	margin: 70px auto;
	text-align: left;
}
#popup-container{
	background-color: #FFF;
	padding: 20px;
	border-radius: 4px;
}

#wrapper{
	width: 960px;
	margin: 40px auto;
	text-align: left; 
}